<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
   
<head>
    <title>Services Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services Page</h1>
        <h2>Services offered by SCM</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ratione veniam quidem eaque, non voluptatum at quibusdam quam error voluptates numquam minus libero doloremque in molestias? Fuga sint ab vitae?<10></10>
    </section>

    <script>
        console.log("Services Page")
    </script>
</body>
</html>